
  <label>Name</label><br>
  <input type="text" name="cat[name]" value="<%= @cat.name %>">
  <br><br>

  <label>Birth Date</label><br>
  <input type="date" name="cat[birth_date]" value="<%= @cat.birth_date %>">
  <br><br>

  <label for="cat_coat_color">Color</label><br>
  <select name="cat[color]" id="cat_coat_color">
    <% @colors.each do |color| %>
    <% if @cat.color == color %>
    <option value="<%= color %>" selected>
      <%= color.capitalize %>
    </option>
    <% else %>
    <option value="<%= color %>">
      <%= color.capitalize %>
    </option>
    <% end %>
    <% end %>
  </select>
  <br><br>


  <label>Sex</label><br>

  <% if @cat.sex == 'F' %>
  <input type="radio" name="cat[sex]" value="F" checked>
  <label for="cat_sex_female">Female</label>
  <input type="radio" name="cat[sex]" value="M">
  <label for="cat_sex_male">Male</label>
  <% elsif @cat.sex == 'M' %>
  <input type="radio" name="cat[sex]" value="F">
  <label for="cat_sex_female">Female</label>
  <input type="radio" name="cat[sex]" value="M" checked>
  <label for="cat_sex_male">Male</label>
  <% else %>
  <input type="radio" name="cat[sex]" value="F">
  <label for="cat_sex_female">Female</label>
  <input type="radio" name="cat[sex]" value="M">
  <label for="cat_sex_male">Male</label>
  <% end %>
  <br><br>

  <label>Description</label><br>
  <input type="textarea" name="cat[description]" value="<%= @cat.description %>">
  <br><br>

  <input type="submit" value="<%=@cat.persisted? ? "Edit" : "Create" %>">
