<table>
  <th>Attribute</th><th>Value</th>
  <% cat_rental_request.attributes.each do |attr, value| %>
  <tr>
    <td><%= "#{attr.split("_").map(&:capitalize).join(" ")}"%></td>
    <td><%= "#{value}" %></td>
  </tr>
  <% end %>
    <tr>
    <% if cat_rental_request.pending? %>
      <td>
        <%= button_to "Approve", approve_cat_rental_request_url(cat_rental_request), method: "get" %>
      </td>
      <td>
        <%= button_to "Deny", deny_cat_rental_request_url(cat_rental_request), method: "get" %>
      </td>
    <% end %>
    <td>
      <%= button_to "Delete",
          cat_rental_request_url(cat_rental_request),
          method: :delete %>
    </td>
  </tr>
</table>
